page-login {
  .bgback {
        background-image:  url("../assets/imgs/login_bg.png");
        background-repeat: repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        height: 100%;
        position: absolute;
    }

  }
  