page-register {
  .bgback {
    background-image:  url("../assets/imgs/register_bg.png");
    background-repeat: repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 100%;
    position: absolute;
}
  
        // .text-input::-moz-placeholder {
        //     color: white;
        //   }
          
        //   .text-input:-ms-input-placeholder {
        //     color: white;
        //   }
          
        //   .text-input::-webkit-input-placeholder {
        //     text-indent: 0;
        //     color: white;
        //   }
        .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
          border-bottom-color: #26448a !important;
          -webkit-box-shadow: inset 0 -1px 0 0 #25458a !important;
          box-shadow: inset 0 -1px 0 0 #25458b !important;
      } 
      .item-inner, ion-item {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
        } 
}
