page-tabs {
    .tabs-ios .tab-button {
        max-width: 240px;
        min-height: 49px;
        font-size: 10px;
        font-weight: 500;
        color: #fffafa;
        padding: 0 2px;
    }
    .tabs-ios .tabbar {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-top: 0.55px solid rgba(0, 0, 0, 0.3);
        background: #f5c3c3;
    }
    .tabs-md .tab-button[aria-selected=true] {
        color: #c6db32;
        padding: 0;
    }
    .tabs-md .tab-button[aria-selected=true] .tab-button-icon {
        color: #c0ef18;
        -webkit-transform: translate3d(0, -2px, 0);
        transform: translate3d(0, -2px, 0);
    }
    .tabs-ios .tab-button:hover:not(.disable-hover), .tabs-ios .tab-button[aria-selected=true] {
        color: #fffafa;
    }
    .tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
        color: #fffafa;
    }
    .tabs-ios .tab-button-icon {
        margin-top: 4px;
        margin-bottom: 1px;
        min-width: 35px;
        height: 30px;
        font-size: 30px;
         color: #fffafa;
    }
    .tabs-md .tabbar {
        background-image: linear-gradient(to right, #114090, #132866);
    }
    .tabs-md .tab-button[aria-selected=true] .tab-button-icon {
        color: #40b8d6;
        -webkit-transform: translate3d(0, -2px, 0);
        transform: translate3d(0, -2px, 0);
    }
    .tabs-md .tab-button-icon {
        margin-top: 1px;
        min-width: 2.4rem;
        font-size: 2.4rem;
        color: #fffafa;
        -webkit-transition: -webkit-transform 0.3s ease-in-out;
        transition: -webkit-transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        -webkit-transform-origin: 50% 150%;
        transform-origin: 50% 150%;
    }

    .tabs-md .tab-button[aria-selected=true] {
        color: #40b8d6;
        padding: 0;
    }
    .tabs-md .tab-button {
        min-height: 5.6rem;
        font-weight: normal;
        color: rgba(255, 255, 255, 0.87);
        padding: 0;
    }
}
